
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Lato", sans-serif;
    background-color: #e5e5e5;
    font-style: normal;
  }
  .index{
    background-image: url('imgs/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #fff;
    height: auto;
  }
   
  .menu{
    display: none;
  }

   .p-font{
    color: #272a31;
   }
  .headline{
    margin:100px;
    
  }
   .h-grd {
      font-weight: 500;
      font-size: 60px;
      font-family: 'Lato',sans-serif; 
      background: linear-gradient(90deg,#EC5242,#272A31);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
  }
   
 .program-section{
  height: 587px;
 }
  .p-content{
    height: 231px;
    width: 200px;
  }

  .program p{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }

  @media only screen and  (min-width:376px) and (max-width:780px) {
    .index{
      background-image: url('imgs/bg-hero.svg');
      background-repeat: no-repeat;
      background-size: 100%;

    }

    .headline{
      top: 100px;
      margin:30px;
    }
    .program{
        display: flex;
        flex-direction: column;
        gap: 1;
        justify-content: baseline;
        padding-top: 30px;
        
    }
    .p-content{
        display:flex;
        flex-direction: row;
        height: 82px;
        gap: 10px;
        width: 100%;
        justify-content:baseline;
        align-items: center;
        background-color:#303030;

    }

    .p-content h6{
      padding: 10px;
      margin: 10px;
    }

    .p-content p{
      padding: 10px;
      margin: 3px;
      text-align: start;
    }
     
    .no-diplay{
        display: none;
    }

    /* humbarger button */
    .hamburger {
      display: block;
      cursor: pointer;
      color: black;
      position: sticky;
      z-index: 99999 !important;
    }
    
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color:black;
    }
    
    .menu {
      position:fixed;
      left:-100%;
      
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      background-color:  #e5e5e5;
      backdrop-filter: blur(6px);
      margin: auto 0;
      padding: auto;
    }
    
    body.scroll-lock {
      overflow: hidden;
    }
    
    .nav-link {
      height: 30px;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:baseline;
      align-items: center;
    }
    
    .menu.active{
      left:0;
    }
    
    .nav-item {
      width: 100%;
      height: auto;
      top: 0;
      display: flex;
      flex-direction: column;
      
    }
    
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    
    }
    
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      
    }
    
    .about-para {
      width: 100%;
      padding:0;
      margin: 0;
    }
    .about-past{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .bg-color{
    background-color:#272A31;
  }

  .font-color{
    color:#EC5242;
  }

  .size{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .mb-btn{
    background-color: #EC5242;
    padding: 15px;
    width: 180px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: auto 0;
  }

  .icon{
    display: flex;
    flex-direction: row;
    width: 70px;
}

.nav-link{
  color:#272A31 ;
  font:700px;
}

.nav-link:hover{
  color:#EC5242;
  font-size: larger;
}

.nav-link:focus{
  color:#EC5242;
  font-size: larger;

}
 /* js file working */

 .featured-professors {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.featured-professors .professors-list {
  list-style-type: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 25px;
  align-self: center;
}

.featured-professors .featured-professors-heading {
  color: black;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 12px;
}

.featured-professors .professors-list .professor {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 350px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.img-container {
  background: url('imgs/bellow-images.svg');
  background-repeat: no-repeat;
  background-size: 90px 90px;
  margin-right: 20px;
}

.img-container img {
  padding-left: 15px;
  padding-top: 20px;
  object-fit: cover;
  width: 140px;
  height: 140px;
}

.professor-name {
  font-family: "Cocogoose", sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.professor-summary {
  font-family: "Cocogoose-Italic", sans-serif;
  font-size: 8px;
  margin-bottom: 2px;
  color: #ec5242;
}

.professor hr {
  width: 12px;
  color: #757370;
  margin-bottom: 2px;
}

.professor-studies {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: #4a4848;
}

.more-professors-btn {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 30px;
  background-color: #fff;
  width: 240px;
  align-self: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 768px) {

  .featured-professors .professors-list {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    padding-left: 120px;
    padding-right: 20px;
  }

  .professor {
    max-width: 440px;
  }

  .more-professors-btn {
    display: none;
  }

  .img-container {
    width: 400px;
  }
  .partner-logo{
    display: flex;
    flex: row;
    flex-wrap: nowrap;
  }
}

.partners{
  height: 242px;
   background: #414246;  ;
}

.footer{
  height: 245px;
}

.about-headline{
  height: auto;
}